/* WITH-BANNER-QUOTE-PAGE - PAGES */

.with-banner.signIn {
  .aside {
    height: 100vh;
  }
  .top-bar {
    margin-top: 55px;
  }
  .aside__container {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
  }
  .btn-google {
    color: rgba(1, 22, 78, 0.5);
    display: flex;
    max-width: 400px;
    width: 100%;
    height: 48px;
    padding: 14px;
    justify-content: center;
  }
  .btn-google .google-icon {
    max-width: 22px;
    width: 100%;
    margin-right: 16px;
  }
  .separator {
    background: rgba(1, 22, 78, 0.5);
    margin: 60px 0;
    max-width: 400px;
  }
  .aside__content--fields {
    margin-bottom: 10px;
  }

  .aside__content .form-group {
    margin-bottom: 25px;
  }
  .aside__content .form-group label {
    font-size: 18px;
    font-weight: 600;
  }
  .aside__content input {
    width: 100%;
    max-width: 400px;
    background: #EFF1F7;
    border: none;
    height: 48px;
  }
  .aside__content .form-group.password {
    margin-bottom: 10px;
  }
  .aside__content--button-forgot .forgot-password {
    font-size: 16px;
    font-weight: 600;
    color: #6F93F4;
    display: block;
  }
  .aside__content--login {
    margin-top: 50px;
  }

  .content {
    background: url("/img/with-banner/choices/banner.png") no-repeat 95% 60%;
    height: 100vh;
  }


  .top-bar__menu {
    margin-left: 100px;
  }

  .top-bar__language select {
    padding: 19.5px 60px 19.5px 23px;
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: 500;
  }

  .content .p-absolute {
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .forgot-password__box {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forgot-password__text {
    color: #01164E;
    margin-right: 35px;
    font-weight: 600;
  }
  .forgot-password__btn {
    color: #01164E;
  }
  .password-box__icon {
    position: absolute;
    right: 180px;
    bottom: 15px;
    cursor: pointer;
  }
  .timer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .timer__icon {
    margin-right: 25px;
  }
  .timer__text {
    color: #01164E;
    font-size: 24px;
    font-weight: 700;
  }


}