/* WITH-BANNER-SOCIAL-PAGE - PAGES */

.with-banner.social {

    header {

        .banner {
            background: url("/img/with-banner/social/banner.png") no-repeat 100% 100%;

            @include bp-xl {
                background: url("/img/with-banner/social/banner.png") no-repeat 0 100%;
                background-size: cover;
            }

            @include bp-xs {
                background: url("/img/with-banner/social/banner-responsive.png") no-repeat 0 100%;
            }
        }

    }

    h4 {
        font-size: 32px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
    }

    .contact {

        &__form {

            .form-control {
                height: 48px;
            }

        }

    }

}